* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #161616;
  padding-top: 50px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  color: #0375DE;
  font-size: 40px;
  font-weight: bold;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #747474;
  border-radius: 6px;
  padding: 8px 10px;
}

form button {
  background-color: #0375DE;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
}

form button:hover {
  background-color: #FB325D;
}

table {
  width: 100%;
}

table th {
  border-bottom: 2px solid #0375DE;
  padding: 16px;
  color: #0375DE;
  font-size: 24px;
  font-weight: bold;
}

table td {
  text-align: center;
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #262626;
  color: #FFF;
}